---
# Only the main Sass file needs front matter (the dashes are enough)
---

body {
  header, .content, footer {
    width: 800px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}